{% extends 'start/index.html.twig' %}

{%  block body %}
    {% include '_includes/minimal.html.twig' %}

    {%  block content %}
        <form class="container" method="POST">
        <h1 class="my-4">Eintrag bearbeiten</h1>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        <div class="form-group">
            <label for="InputTitel">Titel</label>
            <input type="text" class="form-control" name="entry[name]" value="{{ entry.name }}">
        </div>
        <div class="form-group shadow-textarea" aria-rowcount="10">
            <div class="form-group shadow-textarea" aria-rowcount="10">
                <label for="InputWorkflow">
                    Workflow
                </label>
                <br>
                <br>
                <input id="workflow" value="{{ entry.workflow }}" type="hidden"  name="entry[workflow]">
                <trix-editor input="workflow"></trix-editor>

            </div>
            <div class="form-group">
                <label for="InputError">Error</label>
                <input id="error" value="{{ entry.error }}" type="hidden"  name="entry[error]">
                <trix-editor input="error"></trix-editor>
            </div>
            <div class="form-group">
                <label for="InputSolution">Lösung</label>
                <input id="solution" value="{{ entry.solution }}" type="hidden"  name="entry[solution]" placeholder="=DSFSD">
                <trix-editor input="solution"></trix-editor>
            </div>
            <div>
                <label for="TagSelect">Main Tag</label>
                <select class="custom-select" name="entry[tagID][]">
                    {% for tag in tags %}
                        {% if tag.main %}
                            {% if tag in entry.getTagId() %}
                                <option selected value="{{ tag.id }}"> {{ tag.name }}</option>
                            {% else %}
                                <option value="{{ tag.id }}"> {{ tag.name }}</option>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="TagSelect">Weitere Tags</label>
                <select class="custom-select" name="entry[tagID][]" multiple>
                    {% for tag in tags %}
                        {% if tag.main == 0 %}
                            {% if tag in entry.getTagId() %}
                                <option selected value="{{ tag.id }}"> {{ tag.name }}</option>
                            {% else %}
                                <option value="{{ tag.id }}"> {{ tag.name }}</option>
                            {% endif %}                        {% endif %}
                    {% endfor %}
                </select>
            </div>

        <button type="submit" class="btn btn-primary">Speichern</button>
    </form>
    {% endblock %}
{%  endblock %}