{% extends 'base.html.twig' %}

{% block title %}Entry index{% endblock %}

{% block body %}
    <h1>Entry index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Active</th>
                <th>Name</th>
                <th>Created</th>
                <th>Changed</th>
                <th>Workflow</th>
                <th>Error</th>
                <th>Solution</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.active ? 'Yes' : 'No' }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.created ? entry.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ entry.changed ? entry.changed|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ entry.workflow }}</td>
                <td>{{ entry.error }}</td>
                <td>{{ entry.solution }}</td>
                <td>
                    <a href="{{ path('entry_show', {'id': entry.id}) }}">show</a>
                    <a href="{{ path('entry_edit', {'id': entry.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entry_new') }}">Create new</a>
{% endblock %}
