{% extends 'base.html.twig' %}

{% block title %}Entry{% endblock %}
{% block bodyheadingstyle %}{% endblock %}
{% block body %}
    <div class="container featured-area-default padding-30">
        <div class="row">
            <div class="col-md-12 padding-20">
                <div class="row">
                    <!-- ENTRY  -->
                    <div class="card card-default col-12">
                        <div class="entry-heading margin-bottom-5">
                            <a href="{{ path('entry_edit', {'id': entry.id}) }}"><i class="fa fa-pencil-square-o"></i> {{ entry.name }}</a>
                        </div>
                        <div class="entry-info">
                            <div class="user-name"><a href="#"><i class="fa fa-user-md"></i> {{ entry.getUser.email }}</a></div>
                            <div class="art-date"><a href="#"><i class="fa fa-calendar-o"></i> {{ entry.created ? entry.created|date('Y-m-d H:i:s') : '' }}</a></div>
                            <div class="art-comments"><a href="#"><i class="fa fa-comments-o"></i> 4 Comments </a></div>
                        </div>
                        <div class="entry-content">
                            <h2>Workflow</h2>
                            <p>
                                {{ entry.workflow|raw }}
                            </p>
                            <h2>Lösung</h2>
                            <p>
                                {{ entry.solution|raw }}
                            </p>
                            <h2>Fehlermeldung</h2>
                            <p>
                                {{ entry.errormessage|raw }}
                            </p>
                        </div>
                        <div class="entry-content">
                            <div class="entry-tags">
                                <b>Tags:</b>
                                {% for tag in entry.getTagid() %}
                                    {% if tag.main == 0 %}
                                        <a href="{{ path('tag_show', {'id': tag.id}) }}" class="btn btn-outline-secondary btn-sm">{{ entry.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <hr class="style-three">
                        <div class="entry-feedback">
                            <h2><small>Was This Entry Helpful?</small></h2>
                            <button type="button" class="btn btn-success btn-o btn-wide"><i class="fa fa-thumbs-o-up"></i> Yes</button>
                            <button type="button" class="btn btn-danger btn-o btn-wide">No <i class="fa fa-thumbs-o-down"></i></button>
                        </div>
                    </div>
                    <!-- END ENTRX -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
