{% extends 'start/index.html.twig' %}
{%  block content %}
    <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <h1 class="mt-4 mb-3">{{ entry.name }}

            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/"><i class="fa fa-home"></i></a>
                </li>
                <li class="breadcrumb-item active">{{ entry.name }}</li>
            </ol>

            <div class="row">

                <!-- Post Content Column -->
                <div class="col-lg-12">


                    <hr>

                    <!-- Date/Time -->
                    <p>            <i class="fas fa-user"></i> <a href="#">{{ entry.user }}</a>
                        <i class="fas fa-calendar-alt" title="erstellt"></i> <a title="erstellt"> {{ entry.created ? entry.created|date('Y-m-d') : '' }}</a>
                        <i class="fas fa-calendar-alt" title="bearbeitet"></i> <a title="bearbeitet"> {{ entry.changed ? entry.changed|date('Y-m-d') : '' }}</a>                {% for tag in entry.getTagId() %}
                        <a href="{{ path('tag_show', {'id': tag.id}) }}"><i class="fas fa-tags" title="Tag"></i> {{ tag.name }} </a>
                    {% endfor %}
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('entry_edit', {'id': entry.id}) }}"> | Eintrag bearbeiten</a>
                    {% endif %}
                        </p>


                    <hr>
                    <div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card car">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Workflow zur Reproduktion</a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    {{ entry.workflow|raw }}                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Mögliche Fehlermeldungen
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    {{ entry.error|raw }}                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Lösung des Verhaltens</a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    {{ entry.solution|raw }}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
{%  endblock %}