{% extends 'start/index.html.twig' %}

{% block content %}
    <div class="container">
        <div class="container">
            <h1 class="my-4">Main Tags</h1>
            <div class="row">
                {% for maintag in maintags %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ path('tag_show', {'id': maintag.id}) }}"><i class="fas fa-file-alt" title="Main Tag"></i> {{ maintag.name }} </a>
                                </h4>
                                <p class="card-text">{{ maintag.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h1 class="my-4">Tags</h1>
            <div class="row">
                {% for tag in tags %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ path('tag_show', {'id': tag.id}) }}"><i class="fas fa-file-alt" title="Tag"></i> {{ tag.name }} </a>
                                </h4>
                                <p class="card-text">{{ tag.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- /.row -->


        </div>
    </div>
    </div>
{% endblock %}